RewriteEngine on
RewriteBase /
RewriteRule "^fetch/(.+)$" "/fetch_comic.php?feed=$1" [L,QSA]
RewriteRule "^view/([^/]+)$" "/view_comic.php?feed=$1" [L,QSA]
RewriteRule "^view/([^/]+)/([^/]+)$" "/view_comic.php?feed=$1&type=$2" [L,QSA]

